<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Donations' List</h2>
  </div>
  <div class="panel-body">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Description</th>
        <th>Type</th>
        <th>Sum</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let don of dons | async">
        <td>{{don.donDescription}}</td>
        <td>{{don.typeDon}}</td>
        <td>{{don.somme}}</td>

          <td><button (click)="deletedon(don.donId)" class="btn btn-danger">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
