<div>
<h1>Welcome to ness el khir</h1>
</div>
<div class="card-group">
    <div class="card">
        <img src="https://www.habitat.org/sites/default/files/styles/16_9_medium/public/2017-06/voluneer-abroad_0.jpg?h=8869a3dd&itok=l_GEo93c" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">We Are Volunteers! </h5>
            <p class="card-text">We run a volunteer program that spans 40 countries called Global Village for schools, universities, corporations and other groups of committed people.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://www.habitat.org/sites/default/files/styles/2_1_default/public/2020-05/HFHE%20family%20copy_1.jpg?itok=ECg710lL" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Building homes not only houses</h5>
            <p class="card-text">Even as COVID-19 significantly impacted Habitat’s ability to build at full capacity — and likely will continue to do so in many locations well into 2021 — we still have seen great progress and positive results. In fiscal year 2020, we helped more than 5.9 million people build or improve a place to call home, and through training and advocacy, an additional 9.9 million gained the potential to improve their housing conditions.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <img src="https://www.habitat.org/sites/default/files/styles/2_1_default/public/2020-11/6%20copy.jpg?itok=LIHqd121" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Water For All</h5>
            <p class="card-text">Water is the basic necessity of every human being. But, water scarcity is a major issue that is rising very rapidly in modern-day India. The problem has become so severe that in many states the groundwater has almost dried up and people have to depend on water supply from other sources. In addition, water is one of the most misused commodities that we still waste. It is the central point of our lives but not the central point of our focus.</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>
